$LOGO: #F4A86C;
$COLOR-BRAND: #002D4E;
$COLOR-BRAND2: #626F78;
$FOCO: #3A3A3A;
$INPUT-BLOCK: #f5cfb2;

main {
  min-height: 100vh;
  justify-content: center;

  #mainBox {
    // max-width: 380px;
    gap: 20px;
    background-color: $COLOR-BRAND2;
    padding: 20px 20px 50px 20px;
    border-radius: 30px;
    text-align: center;
    padding: 30px;

    #first-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100px;
        }
      }

      #arrowBack {
        cursor: pointer;
      }
    }

    #formGranjas {
      padding: 10px 20px;
      color: white;
      border-radius: 30px;
      background-color: $FOCO;
      gap: 10px;

      h1 {
        letter-spacing: 10px;
        text-wrap: wrap;
        text-align: center;
      }

      #ulGranjas {
        align-items: flex-end;
        gap: 30px;
        padding: 30px;

        section {
          gap: 5px;

          //PINTAR LOS DOS PRIMEROS INPUTS DE SECTION
          &:nth-child(1) input,
          &:nth-child(2) input,
          &:last-child input {
            background-color: $INPUT-BLOCK;
          }

          label {
            font-size: 23px;
            color: white;
            letter-spacing: 7px;
            -webkit-text-stroke: 0;
          }

          input {
            text-align: center;
            width: 300px;
          }
        }

        button {
          letter-spacing: 8px;
          border: none;
          border-radius: 20px;
        }
      }
    }
  }
}
