<app-header></app-header>
<main
  style="background-image: url(../assets/images/fondo_gallinas.jpg); background-repeat: no-repeat; background-size: cover;"
  class="box">

  <section id="inicioSesion" class="box">
    <div id="login" class="box">
      <img src="../assets/ico/userIco.svg" alt="">
      <div id="form" class="box">
        <label class="label labelForm">USUARIO</label>
        <input type="text" class="inputForm">
        <label class="label labelForm">CONTRASEÑA</label>
        <input type="password" class="inputForm">
      </div>
    </div>
    <div id="iniciaSesionBtn"></div>
  </section>
</main>
