<!-- Pop-up de carga -->
<div class="modal-background">
  <div class="center-modal">
    <!-- <button (click)="this.chargeIcon = false;" id="close">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
        <path
          d="M12.8932 21.9907C18.416 21.9907 22.8932 17.5136 22.8932 11.9907C22.8932 6.46788 18.416 1.99072 12.8932 1.99072C7.37034 1.99072 2.89319 6.46788 2.89319 11.9907C2.89319 17.5136 7.37034 21.9907 12.8932 21.9907Z"
          stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
        <path class="line" d="M15.8932 8.99072L9.89319 14.9907" stroke="white" stroke-width="1" stroke-linecap="round"
          stroke-linejoin="round" />
        <path class="line" d="M9.89319 8.99072L15.8932 14.9907" stroke="white" stroke-width="1" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button> -->
    <div class="waitingTime">
      <div class="loading-spinner"></div>
    </div>
  </div>
</div>
