<main class="box">
  <div class="background-image" style="background-image: url(../assets/images/fondo_gallinas.jpg);"></div>
  <!--Imagen de fondo-->

  <!-- Inicio contenido -->
  <section>
    <div id="mainBox" class="box">
      <img src="../../../assets/ico/Galpon.png" alt="">
      <h1 class="label">Registros de Ventas</h1>
      <div id="formGranjas" class="box">
        <div id="ulGranjas" class="box">
          <section>
            <label class="labelForm" for="fecha">Fecha</label>
            <input class="inputForm" type="text" name="fecha" id="">
          </section>
          <section>
            <label class="labelForm" for="hora">Hora</label>
            <input class="inputForm" type="text" name="hora" id="">
          </section>
          <section>
            <label class="labelForm" for="valor">Valor</label>
            <input class="inputForm" type="text" name="valor" id="">
          </section>
          <section>
            <label class="labelForm" for="cliente">Cliente</label>
            <input class="inputForm" type="text" name="cliente" id="">
          </section>
          <button class="content-desktop">Registrar</button>
        </div>
      </div>
    </div>
  </section>
</main>
