<main class="box">
  <div class="background-image" style="background-image: url(../assets/images/fondo_gallinas.jpg);"></div>
  <!--Imagen de fondo-->

  <!-- Inicio contenido -->
  <section>
    <div id="mainBox" class="box">
      <div id="first-container">
        <a (click)="arrowBack()" id="arrowBack">
          <img src="../../../assets/ico/arrow-left.png" alt="">
        </a>
        <div>
          <img src="../../../assets/ico/Galpon.png" alt="">
          <h1 class="label">Registros de Ventas</h1>
        </div>
        <div style="width: 30px;"></div>
      </div>
      <div id="formGranjas" class="box">
        <div id="ulGranjas" class="box">
          <section>
            <label class="labelForm" for="fecha">Fecha</label>
            <input (change)="setFecha($event)" class="inputForm" type="date" name="fecha" id="">
          </section>
          <section>
            <label class="labelForm" for="hora">Hora</label>
            <input class="inputForm" type="text" name="hora" id="" value="{{venta.fecha.toDate() | date:'h:mm a'}}"
              readonly>
          </section>
          <section>
            <label class="labelForm" for="cliente">Cliente</label>
            <input class="inputForm" type="text" name="cliente" id="" [value]="this.venta.cliente"
              (change)="setCliente($event)">
          </section>
          <div id="tipo">
            <table>
              <tr>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Valor Unitario</th>
                <th>Total</th>
              </tr>
              <tr *ngFor="let key of getKeysObject(this.filas)">
                <td>{{ key }}</td>
                <td><input class="inputForm" type="number" min="0" value="0" (input)="changeCantidad(key,$event)"></td>
                <td><input class="inputForm" type="text" value="$0"
                    (input)="formatCurrency($event); changeValorUnitario(key,$event)"></td>
                <td><input class="inputForm" type="text" value="{{filas[key].total() | currency:'symbol': '$':'1.0'}}"
                    readonly>
                </td>
              </tr>
              <tr *ngFor="let item of items; let i = index">
                <td>
                  <input type="text" class="inputForm" [(ngModel)]="item.tipo" placeholder="Ingrese el tipo">
                </td>
                <td><input type="number" [(ngModel)]="item.cantidad"></td>
                <td><input type="text" [(ngModel)]="item.valorUnitario"></td>
                <td><input type="text" [(ngModel)]="item.total" readonly></td>
              </tr>
              <tr>
                <td colspan="4">
                  <button (click)="addInitialRow()" class="round-button">
                    <img src="../../../assets/ico/plus-icon.png" alt="Add">
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <h2>Total Venta: {{venta.totalVenta | currency:'symbol': '$':'1.0'}}</h2>
        </div>
        <button class="content-desktop" (click)="crearVenta()">Registrar</button>
      </div>
    </div>
  </section>
</main>
