<main class="box">
  <div class="background-image" style="background-image: url(../assets/images/fondo_gallinas.jpg);"></div>
  <!--Imagen de fondo-->

  <!-- Inicio contenido -->
  <section>
    <div id="mainBox" class="box">
      <div id="first-container" class="box">
        <a (click)="arrowBack()" id="arrowBack">
          <img src="../../../assets/ico/arrow-left.png" alt="">
        </a>
        <h1 class="label">{{granjaSeleccionada.name}}</h1>
        <div style="width: 30px;"></div>
      </div>
      <h2 class="label">{{galpon.name}}</h2>
      <div id="formGalpones" class="box">
        <div id="ulGranjas" class="box">
          <h3 class="label">Ventas</h3>
          <p class="label">1/abr - 7/abr</p>
          <table>
            <tbody>
              <tr class="encabezado">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Valor</th>
                <th>Cliente</th>
              </tr>
              <tr *ngFor="let venta of this.galpon.ventas" class="table-content">
                <td>{{venta.fecha.toDate() | date:'dd/MMMM/yyyy':'es'}}</td>
                <td>{{venta.fecha.toDate() | date:'hh:mm a':'es'}}</td>
                <td>{{moneyFormat(venta.totalVenta)}}</td>
                <td>{{venta.cliente}}</td>
              </tr>
            </tbody>
          </table>

          <p class="label"><strong>Total: {{moneyFormat(galpon.totalVentas ?? 0)}}</strong></p>

        </div>
      </div>
      <div id="formGalpones" class="box">
        <div id="ulGranjas" class="box">
          <h3 class="label">Gastos</h3>
          <p class="label">1/abr - 7/abr</p>
          <table>
            <tbody>
              <tr class="encabezado">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Valor</th>
                <th>Concepto</th>
              </tr>
              <tr *ngFor="let gasto of this.galpon.gastos" class="table-content">
                <td>{{gasto.fecha.toDate() | date:'dd/MMMM/yyyy':'es'}}</td>
                <td>{{gasto.fecha.toDate() | date:'hh:mm a':'es'}}</td>
                <td>{{moneyFormat(gasto.total)}}</td>
                <td>{{gasto.concepto}}</td>
              </tr>
            </tbody>
          </table>

          <p class="label"><strong>Total: {{moneyFormat(galpon.totalGastos ?? 0)}}</strong></p>

        </div>
      </div>
    </div>
  </section>
</main>
