<main class="box">
  <div class="background-image" style="background-image: url(../assets/images/fondo_gallinas.jpg);"></div>
  <!--Imagen de fondo-->

  <section id="main-container" class="box">
    <section id="data-container">
      <div id="ventas" class="box">
        <h1>Granja</h1>
        <select (change)="changeGranja($event)" name="" id="">
          <option *ngFor="let granja of this.granjas; index as i" value="{{i}}">{{granja.name}}</option>
        </select>
        <h1>Galpón</h1>
        <select (change)="changeGalpon($event)" name="" id="">
          <option *ngFor="let galpon of this.galpones; index as i" value="{{i}}">{{galpon.name}}</option>
        </select>
        <h1>Ventas</h1>
        <input #fileUploadBasics [accept]="'.csv'" type="file" class="file-input"
          (change)="importDataFromCSV($event,';','ventas')">
        <button (click)="uploadVentas()" [disabled]="this.isDisabledVentas">Actualizar</button>
      </div>
      <div id="gastos" class="box">
        <h1>Gastos</h1>
        <input #fileUploadBasics [accept]="'.csv'" type="file" class="file-input"
          (change)="importDataFromCSV($event,';','gastos')">
        <button (click)="uploadGastos()" [disabled]="this.isDisabledGastos">Actualizar</button>
      </div>
    </section>
  </section>
  <app-popup-modal *ngIf="this.chargeIcon"></app-popup-modal>
</main>
