$COLOR-BRAND2: #626F78;

main {
  padding: 10px;
  min-height: 100vh;

  #main-container {
    gap: 20px;
    background-color: $COLOR-BRAND2;
    padding: 20px 20px 50px 20px;
    border-radius: 30px;

    #data-container{
      #ventas{
        gap: 20px;
      }
    }
  }
}
